@font-face {
    font-family: "Fixture";
    src: url("/fonts/Fixture Regular.otf?90e8d7676c6188686d2900ff8356b5d7") format("opentype");
}

@font-face {
    font-family: "Fixture Bold";
    src: url("/fonts/Fixture Bold.otf?d803eb7a6de27bb447bfdfedb15834b1") format("opentype");
}

@font-face {
    font-family: "Fixture Condensed Medium";
    src: url("/fonts/Fixture Condensed Medium.otf?1e1adc1cad7647f54b23dc6f8d1f06e2") format("opentype");
}

@font-face {
    font-family: "Fixture Medium";
    src: url("/fonts/Fixture Medium.otf?c6825d2ad11ec606cc5b7e73925909c5") format("opentype");
}
@font-face {
    font-family: "Fixture Condensed Bold";
    src: url("/fonts/Fixture Condensed Bold.otf?35f6576c1fa2968bb4441333da2d0cb3") format("opentype");
}

@font-face {
    font-family: "Fixture Condensed Regular";
    src: url("/fonts/Fixture Condensed Regular.otf?27bb6d85b6dad86534c7e5584354e8c9") format("opentype");
}

@font-face {
    font-family: "Fixture Condensed ExtraBold";
    src: url("/fonts/Fixture Condensed ExtraBold.otf?82fbbb5389730315a618d21015535dd0") format("opentype");
}

@font-face {
    font-family: "Fixture Expanded ExtraBold";
    src: url("/fonts/Fixture Expanded ExtraBold.otf?7c21304abf35e098355aa70a0d8c4c71") format("opentype");
}

@font-face {
    font-family: "Fixture Condensed Light";
    src: url("/fonts/Fixture Condensed Light.otf?41c765d23d8575c41f552e8026f2c64f") format("opentype");
}
.image0 {
    z-index: 9 !important;
}
.imgSlide {
    position: fixed !important;
    -o-object-fit: cover;
       object-fit: cover;
}
.textSlide {
    position: fixed !important;
}
.textTechno {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.textEnd {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.textEndContent {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.textTechnoContent {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.textEndContainer {
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.textTechnoContainer {
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Fixture Expanded ExtraLight";
    src: url("/fonts/Fixture Expanded ExtraLight.otf?9df13a72ef4b82ec0d1c069efc7ef124") format("opentype");
}

@font-face {
    font-family: "Fixture Expanded Black";
    src: url("/fonts/Fixture Expanded Black.otf?476112e8cfb2dee3564db0001b859ba9") format("opentype");
}

@font-face {
    font-family: "Fixture Expanded Bold";
    src: url("/fonts/Fixture Expanded Bold.otf?17e97bedd095dd9a150015a13d8b7402") format("opentype");
}

@media (min-width: 1400px) {
    .container,
    .container-fluid {
        max-width: 1920px;
    }
}
html {
    overflow: -moz-scrollbars-none;
}
body {
    background-color: #121315;
    scrollbar-width: 0px;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
.font-regular {
    font-family: "Fixture";
}
.font-bold {
    font-family: "Fixture Bold";
}
.font-medium {
    font-family: "Fixture Condensed Medium";
}

.font-true-medium {
    font-family: "Fixture Medium";
}
.font-condensed-bold {
    font-family: "Fixture Condensed Bold";
}
.font-condensed-regular {
    font-family: "Fixture Condensed Regular";
}
.font-condensed-extrabold {
    font-family: "Fixture Condensed ExtraBold";
}
.font-expanded-extrabold {
    font-family: "Fixture Expanded ExtraBold";
}
.font-condensed-light {
    font-family: "Fixture Condensed Light";
}
.font-expanded-extralight {
    font-family: "Fixture Expanded ExtraLight";
}

.font-expanded-black {
    font-family: "Fixture Expanded Black";
}

.font-expanded-bold {
    font-family: "Fixture Expanded Bold";
}
.font-barlow {
    font-family: "Barlow";
}
.red {
    color: #e2051e;
}
.white {
    color: #fff;
}
.not_dark {
    color: #121315;
}
.h-animated img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.h-animated {
    overflow: hidden;
}

.navbar {
    padding-top: 18.6px;
    padding-left: 140px;
    padding-right: 140px;
}
.nav-item a {
    font-size: 15px;
    line-height: 27px;
    position: relative;
}
.nav-item a:hover {
    border-bottom: 2px;
    border-color: #fff;
}
.expert-list button {
    position: relative;
}
.nav-item a::after,
.expert-list button::after {
    content: " ";
    background-color: #e2051e;
    height: 4px;
    width: 0px;
    display: block;
    bottom: 0;
    position: absolute;
    transition: all 0.5s ease;
}
.expert-list button::after {
    bottom: -9px;
}
.nav-item a:hover::after,
.nav-item a.active::after,
.expert-list button:hover::after,
.expert-list button.active::after {
    width: calc(100% - 0.8em);
    transition: all 0.5s ease;
}
.nav-item a.white-trait::after {
    background-color: #fff !important;
}
.art {
    font-size: 433px;
    line-height: 401px;
}
.creative {
    font-size: 662px;
    line-height: 618px;
    position: absolute;
    bottom: -13px;
    left: -26px;
}
.digital {
    font-size: 138px;
    line-height: 128px;
}
.digital .text-left {
    text-align: left;
}
.techno {
    font-size: 388px;
    line-height: 314px;
}
.techno .text-left {
    text-align: left;
}
.fashion {
    font-size: 380px;
    line-height: 352px;
}
.gaming {
    font-size: 234px;
    line-height: 217px;
}
.culture {
    font-size: 238px;
    line-height: 221px;
    margin-right: -241px;
}
.culture .text-right {
    text-align: right;
}
.media {
    font-size: 558px;
    line-height: 518px;
    position: absolute;
    bottom: 0;
}
.bring {
    font-size: 130px;
    line-height: 121px;
}
.bring .text-left {
    text-align: left;
}

.slides {
    width: 100vw;
    height: var(--sHeight);
    position: relative;
    overflow: hidden;
}
.paris {
    min-height: 1080px;
    height: 100vh;
    background-image: url(/images/pexels-skylar-kang-6044201.jpg?a537cedba4153120d5da44f4d452c124);
    background-size: cover;
}
.paris .row:nth-child(1) {
    position: relative;
}
.h1-about {
    font-size: 260px;
    line-height: 204px;
    max-width: 531px;
    text-transform: uppercase;
    margin-top: 175.5px;
    position: absolute;
    left: -33px;
}
.experts .h1-about {
    margin-top: 184.5px;
}
.real .h1-about {
    max-width: 857px;
}
.dedication {
    min-height: 976px;
    background-image: url(/images/246198360_227144552737223_2870329447377481274_n.jpg?903e302e5d0e67aa8919a0b6b4b308e4);
    background-size: cover;
}
.expert .row:nth-child(1) {
    position: relative;
}
.h2-about {
    font-size: 18px;
    max-width: 373px;
}
.w70 {
    margin-top: 622px;
}
.w70 .d-bottom {
    margin-left: -158px;
}
.w50 {
    max-width: 404px;
    margin-top: 189px;
}
.paris .w50 {
    margin-top: 79px;
}
.w50 .text-left {
    text-align: left;
}
.w50 h4 {
    margin-bottom: 49px;
}
.expertise-btn {
    color: #000626;
    text-decoration: none;
    margin-left: -46px;
    margin-top: 49px;
}
.expertise-btn:hover {
    color: #e2051e;
}
.expertise-btn div {
    margin-left: 19px;
}
.foot .plexel {
    margin-top: -128px;
    margin-left: 273px;
}
.empty-divider {
    height: 359px;
}
.expert {
    height: 840px;
}
.expertises {
    font-size: 110px;
    line-height: 88px;
    text-transform: lowercase;
    top: 322px;
    position: absolute;
    left: 140px;
    margin-top: inherit;
}
.expert .w70 {
    margin-top: 420px;
}
.expert .w50 {
    margin-top: 93px;
}
.expert .h2-about {
    max-width: 260px;
}
.expert-list,
#foot {
    padding-left: 116px;
    padding-right: 116px;
    padding-top: 113px;
    background-color: #fff;
}
.expert-list .item {
    height: 608px;
}
.col-7 .item {
    max-width: inherit;
}
.expert-list .item .background,
.expert-list .item .lazy {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.expert-list .item .text {
    position: absolute;
    bottom: 30px;
    left: 138px;
}
.expert-list .item .text h4 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 31px;
}
.expert-list .item .text p {
    max-width: 398px;
    font-size: 15px;
}
.expert-list .item .text p {
    max-width: 398px;
    font-size: 15px;
}
.real .w80 {
    max-width: 532px;
    padding: 81px 79px 59px 90px;
    margin-left: 865px;
    margin-top: 390px;
    background: transparent;
    border-radius: 25px;
}
.gr {
    background: url(/images/pexels-skylar-kang-6044217.jpg?e2d28adaecda32bffee74c55b2b254b9);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.groupe {
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.groupe.bg_black {
    background: none;
    background-color: #121315;
}
.groupe .row {
    padding-left: 232px;
    padding-right: 140px;
    padding-top: 197px;
    padding-bottom: 197px;
}
.groupe h2 {
    font-size: 53px;
    line-height: 42px;
    text-transform: uppercase;
}
.groupe p {
    font-size: 15px;
    max-width: 212px;
    margin-top: 40px;
}
.groupe p a {
    color: #23d9af;
}
.groupe img {
    position: absolute;
}
#prez {
    position: relative;
    z-index: 50;
}
#pimp-1 {
    top: 80.5px;
    right: 668.5px;
}
#pimp-2 {
    top: 295px;
    right: 254.5px;
}
#pimp-3 {
    top: 0;
    right: -6px;
}
#logia-1 {
    top: -52px;
    z-index: 2;
}
#logia-2 {
    top: 171px;
    left: 339px;
}
#logia-3 {
    top: 510.5px;
    left: 277.5px;
}
#logia-4 {
    top: 253px;
    position: absolute;
}
#logia-5,
#logia-6 {
    position: static;
}
#logia-6 {
    margin-top: 72px;
}
#isart-4 {
    position: absolute;
    right: 48.5px;
    top: 326.5px;
}
#isart-1 {
    top: 317.5px;
    left: -100px;
}
#isart-2 {
    top: 115px;
    left: 316.5px;
}
#isart-3 {
    right: 0;
    top: 0;
}
#isart-5 {
    margin-top: 35px;
}
@media (max-width: 1440px) {
    .h1-about {
        font-size: 230px;
        line-height: 170px;
        margin-top: 175.5px;
        left: -15px;
    }
    .expertises {
        font-size: 109px;
        line-height: 88px;
        margin-top: 0;
        left: 117px;
    }
    .w70 .d-bottom {
        margin-left: 131px;
    }
}
@media (max-width: 1244px) {
    .w80 {
        margin-left: 540px;
    }
}
@media (max-width: 1163px) {
    .w80 {
        margin-left: 0;
        margin-top: 0;
        padding-left: 0;
    }
}
@media (max-width: 1250px) {
    .art {
        font-size: 333px;
        line-height: 300px;
    }
    .creative,
    .media {
        font-size: 462px;
        line-height: 418px;
    }
    .digital,
    .textEnd {
        font-size: 120px;
        line-height: 118px;
    }
    .techno {
        font-size: 258px;
        line-height: 214px;
    }
    .fashion {
        font-size: 280px;
        line-height: 252px;
    }
    .gaming,
    .culture {
        font-size: 154px;
        line-height: 147px;
    }
}
@media (max-width: 1276px) {
    .real .w80 {
        margin-left: 744px;
    }
}
@media (max-width: 1163px) {
    .h1-about {
        font-size: 150px;
        line-height: 110px;
        max-width: 531px;
        text-transform: uppercase;
        margin-top: 200.5px;
        position: static;
    }
}
@media (max-width: 1050px) {
    .art {
        font-size: 283px;
        line-height: 280px;
    }
    .creative,
    .media {
        font-size: 352px;
        line-height: 318px;
    }
    .digital,
    .textEnd {
        font-size: 90px;
        line-height: 88px;
    }
    .techno {
        font-size: 208px;
        line-height: 164px;
    }
    .fashion {
        font-size: 230px;
        line-height: 232px;
    }
    .gaming,
    .culture {
        font-size: 104px;
        line-height: 97px;
    }
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
    .nav-item a {
        font-size: 14px;
        line-height: 15px;
    }
    .paris {
        padding-bottom: 0;
        height: auto;
        min-height: auto;
    }
    .w70 {
        margin-top: 399px;
    }
    .foot .plexel {
        margin-left: 190px;
    }

    .foot .row {
        display: block;
    }
    .foot .row a {
        margin-left: auto !important;
    }
    .agroupe {
        padding: 0;
    }
    .expert {
        height: initial;
        padding-bottom: 80px;
    }
    .expertises {
        font-size: 75px;
        line-height: 60px;
        max-width: 531px;
        text-transform: lowercase;
        margin-top: 0;
        top: 207px;
        left: 28px;
    }
    .expert .w70 {
        margin-top: 138px;
    }
    .expert .w50 {
        margin-top: 93px;
    }
    .w70 .d-bottom {
        margin-left: 131px;
    }
    .expert-list,
    #foot {
        padding-left: 16px;
        padding-right: 32px;
    }
    .expert-list .item .text {
        left: 57px;
    }
    .expert-list .item .text h4 {
        font-size: 25px;
        line-height: 20px;
    }
}

@media (max-width: 800px) {
    .art {
        font-size: 253px;
        line-height: 250px;
    }
    .creative,
    .media {
        font-size: 280px;
        line-height: 270px;
    }
    .digital,
    .textEnd {
        font-size: 90px;
        line-height: 88px;
    }
    .techno {
        font-size: 158px;
        line-height: 154px;
    }
    .fashion {
        font-size: 180px;
        line-height: 182px;
    }
    .gaming,
    .culture {
        font-size: 84px;
        line-height: 77px;
    }
    .nav-item a {
        text-align: right;
    }
    #social_menu li,
    #lang_menu li {
        display: inline-block;
        margin: 0 15px;
    }
    #social_menu,
    #lang_menu {
        flex-direction: row;
        justify-content: flex-end;
    }
    .paris .row:nth-child(2) {
        overflow: hidden;
    }
    .w70 {
        margin-top: 287px;
        position: relative;
        left: 175px;
    }
    .foot .plexel {
        margin-left: 29px;
        margin-top: -64px;
    }
    .foot .row a {
        margin-left: 29px;
    }
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }
    .expert .row:nth-child(2) {
        overflow: hidden;
    }
    .expert-list .item .text p {
        font-size: 16px;
    }
    .expert-list .item .text h4 {
        font-size: 16px;
        line-height: 16px;
    }
    .expert-list .item {
        height: 450px;
    }
    .navbar {
        padding-top: 22.6px;
    }
}

@media (max-width: 450px) {
    .art {
        font-size: 253px;
        line-height: 250px;
    }
    .creative,
    .media {
        font-size: 200px;
        line-height: 190px;
    }
    .digital,
    .textEnd {
        font-size: 90px;
        line-height: 88px;
    }
    .techno {
        font-size: 158px;
        line-height: 154px;
    }
    .fashion {
        font-size: 180px;
        line-height: 182px;
    }
    .gaming,
    .culture {
        font-size: 84px;
        line-height: 77px;
    }
    .foot .plexel {
        max-width: 340px;
    }
    .expertise-btn {
        margin-left: 0;
    }
    .h1-about {
        position: static;
        font-size: 109px;
        line-height: 80px;
    }
    .w70 {
        margin-top: 0;
        left: 14px;
        justify-content: flex-start !important;
    }
    .w50 {
        margin-top: 35px;
    }
    .dedication {
        min-height: 668px;
    }
    .expert {
        padding-top: 138px;
        padding-left: 20px;
        padding-bottom: 35px;
    }
    .expertises {
        font-size: 70px;
        line-height: 52px;
    }
    .w70 .d-bottom {
        margin-left: 0;
    }
    .expert .w50 {
        margin-top: 25px;
    }
    .expert .w70 {
        margin-top: 0;
        left: 0;
        justify-content: flex-start !important;
    }
    .expert-list .item {
        width: 100%;
    }
}

#navbar_top {
    transition: all 0.5s ease;
}
.bg-black {
    background-color: #1c1c1c !important;
    padding-top: 0px;
    transition: all 0.5s ease;
}
.experts {
    background: url(/images/black-and-white-photo-of-hourglass-close-up-2021-09-03-08-50-12-utc.jpg?d284fbe5779e9b8519a240ac4741bb39);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.w80 {
    max-width: 532px;
    padding: 81px 79px 59px 90px;
    margin-left: 640px;
    margin-top: 469px;
    background: transparent;
    border-radius: 25px;
}
.real {
    background: url(/images/kunj-parekh-3s3JPEXRzUg-unsplash.jpg?b549953a1419d4f278cb2a7616d08b72);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}
.real .bg {
    background-color: rgb(0 0 0 / 40%);
    width: 100vw;
    height: 100%;
}
.contact {
    background: url(/images/pexels-skylar-kang-6044201.jpg?a537cedba4153120d5da44f4d452c124);
    background-repeat: no-repeat;
    background-size: cover;
}

.rea .item .background,
.rea .item .lazy {
    z-index: 2;
    width: 96%;
    height: 96%;
}
.float-c {
    position: absolute;
    left: 297px;
    top: 570px;
    color: #fff;
    max-width: 345px;
}
.form-c {
    max-width: 492.16px;
    margin-top: 298px;
    margin-left: 749px;
}
.form-c button {
    padding: 13.5px 34.5px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-left: auto;
    display: block;
    letter-spacing: 2px;
}
.form-c input {
    padding: 15px 16px;
}
.form-c textarea {
    height: 236px;
}
.w80.s {
    margin-left: auto;
    margin-top: -398px;
    background: transparent;
    border-radius: 25px;
    margin-right: 203px;
    max-width: 290px;
}
.w80.s .d-flex {
    align-items: center;
    justify-content: flex-start;
    margin: 11px 0;
    flex-direction: row;
}
.w80.s a {
    margin-top: -5px;
    font-size: 15px;
    margin-left: 13px !important;
    margin: 11px 0;
}
.d-b a {
    display: block;
}
.w80.s .d-b a {
    margin-left: 0 !important;
}
.d-b {
    width: 169px;
    margin-left: 13px !important;
    font-size: 16px;
}
.d-b p {
    margin-left: 13px;
    font-size: 15px;
}
.contact .h1-about {
    font-size: 90px;
    line-height: 92px;
    margin-top: 272.5px;
    left: 145px;
}
@media (max-width: 1714px) {
    .form-c {
        margin-left: 621px;
    }
}
@media (max-width: 1590px) and (min-width: 1440px) {
    .w80.s {
        margin-right: 77px;
    }
}
@media (max-width: 1440px) {
    .contact .h1-about {
        margin-top: 212.5px;
    }
    .float-c {
        left: 157px;
        top: 489px;
    }
    .form-c {
        margin-top: 347px;
        margin-left: 545px;
    }
    .w80.s {
        max-width: 290px;
        padding: 0;
        margin-right: 10px;
    }
}
@media (max-width: 1250px) {
    .form-c {
        margin-left: 465px;
    }
}
@media (max-width: 1163px) {
    .real .w80 {
        margin-left: 0;
        margin-top: 0;
    }
    .form-c {
        margin-top: 41px;
    }
    .paris {
        min-height: auto;
        height: auto;
    }
}
@media (max-width: 1050px) {
    .w80 {
        margin-left: 390px;
        margin-top: 355px;
    }
    #dd {
        margin-top: -5px;
    }
    .experts .h2-about {
        font-size: 18px;
    }
    .rea {
        margin-top: -5px;
    }
    .rea .item {
        height: 340px;
    }
    .real .h2-about {
        font-size: 18px;
    }
    .float-c {
        left: 10px;
        top: 0;
        position: static;
        margin-top: 244.5px;
    }
    .form-c {
        margin-top: 34px;
        margin-left: auto;
        max-width: 478.16px;
        margin-right: auto;
    }
    .contact .float-c {
        left: 10px;
        top: 500px;
    }
    .contact .h1-about {
        left: 2px;
    }
    .contact {
        max-height: initial;
    }
    .w80.s {
        margin-top: 0;
        margin-right: auto;
    }
}
@media (max-width: 800px) {
    .w80 {
        max-width: 374px;
        margin-left: 347px;
    }
    .float-c {
        left: 10px;
        top: 0;
        position: static;
        margin-top: 30px;
        margin-left: auto;
        max-width: 479px;
        margin-right: auto;
    }
    .contact .row:nth-child(1) .col {
        flex: none;
    }
    .contact .h1-about {
        margin-top: 145.5px;
        position: static;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
    }
    .form-c {
        margin-top: 34px;
        margin-left: auto;
        max-width: 478.16px;
        margin-right: auto;
    }
    .w80.s {
        max-width: 354px;
        padding: 0;
        margin-right: auto;
    }
    .real {
        max-height: inherit;
    }
    .real .w80 {
        margin-left: 0;
        margin-top: 20px;
        padding-left: 40px;
    }
}
@media (max-width: 450px) {
    .contact .float-c,
    .form-c {
        padding: 0 21px;
    }
    .w80 {
        margin-left: 12px;
        margin-top: 21px;
    }
    .real .w80 {
        margin-left: 0;
        margin-top: 19px;
        padding: 40px 40px 40px 40px;
    }
}
#pimp-prez,
#panorama-prez,
#logia-prez,
#isart-prez {
    transition: all 0.5s ease;
}
#panorama-prez h2,
#logia-prez h2,
#isart-prez h2 {
    margin-top: 67.5px;
    margin-bottom: 85.5px;
}
#panorama-prez h2 {
    margin-top: 42px;
}
#pano-prez h2 {
    margin-bottom: 85.5px;
    margin-top: 42px;
}
#isart-prez h2 {
    margin-bottom: 154px;
}
#pimp-prez h2 {
    margin-bottom: 85.5px;
}
#logia-prez h2 {
    margin-top: 43px;
}
#isart-prez h2 {
    margin-bottom: 86px;
    margin-top: 84px;
}
#pano-prez .desc,
#pimp-prez .desc,
#panorama-prez .desc,
#logia-prez .desc,
#isart-prez .desc {
    opacity: 0;
    margin-top: 0;
}
.op0 {
    opacity: 0;
    display: none;
}

#pimp,
#logia,
#isart,
#pano,
#panorama {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 0;
}
.hover {
    transition: all 0.5s ease !important;
    transform: translateY(0px) !important;
    opacity: 1 !important;
    z-index: 60 !important;
}
.hide {
    transition: all 0.5s ease !important;
    transform: translateY(-100px) !important;
    opacity: 0 !important;
    z-index: 0 !important;
}
.important {
    z-index: 6;
}
#pimp-prez h2,
#logia-prez h2,
#isart-prez h2,
#panorama-prez h2 {
    max-width: 237px;
}
#pimp-prez:hover ~ .desc,
#logia-prez:hover ~ .desc,
#isart-prez:hover ~ .desc,
#panorama-prez:hover ~ .desc,
#pimp-prez:hover ~ .op0,
#logia-prez:hover ~ .op0,
#isart-prez:hover ~ .op0,
#panorama-prez:hover ~ .op0,
#pano-prez:hover ~ .op0,
#pano-prez:hover ~ .desc {
    opacity: 1;
    display: block;
}
.important .desc,
.important .op0 {
    opacity: 1 !important;
    text-decoration: none;
    display: block;
}
.pr {
    right: 110px;
}
.fullscreen-video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -10;
}

.bg-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -9;
}
#isart .position-relative {
    right: 0px;
}
#prez h2 a,
#pimp h2 a,
#logia h2 a,
#isart h2 a,
#pano h2 a,
#panorama h2 a {
    text-decoration: none;
    color: #fff !important;
}
.row_top h2,
.row_bottom h2,
.expert-list h2 {
    font-size: 60px;
    line-height: 58px;
    margin-bottom: 36px;
    text-transform: uppercase;
}
.expert-list p {
    font-size: 15px;
    max-width: 260px;
    height: 90px;
    overflow: hidden;
    position: relative;
    transition: height 0.5s ease;
}
.see_more:hover {
    color: #121315;
}
.expert-list p.n_w {
    max-width: 412px;
    max-height: inherit;
    height: auto;
}
.inche_right {
    padding-left: 137px;
}
.row_bottom .first_event {
    margin-top: 57.5px;
}
.expert-list .maximus {
    margin-top: 111px;
    margin-bottom: 10px;
}
.expert-list h3 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.maximus {
    display: flex;
}
.maximus .col-3 {
    padding: 5px !important;
}
.maximus .block {
    border: 1px solid #1c1c1c;
    padding: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 398px;
    min-height: 398px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.maximus div:nth-child(1) {
    margin-left: 0;
}
.maximus img,
.maximus iframe {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
}
.maximus .block_slides {
    min-width: 398px;
    min-height: 398px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.noborder,
.maximus .block_slides {
    border: none !important;
}
.maximusmin {
    margin: 10px 0 !important;
}
.expert-list .maximus {
    margin-left: 0;
    margin-right: 0;
}
.maximus h3 {
    text-transform: uppercase;
}
.footer {
    margin-top: 113px;
    padding-bottom: 53px;
}
.footer a {
    text-decoration: none;
    font-size: 15px;
}

.footer a:hover {
    color: #e2051e;
}
.footer svg {
    margin-right: 19.9px;
}
.footer .d-flex {
    align-items: center;
}
.rea {
    background-color: #1c1c1c;
    padding-top: 36px;
}
.expert-list button {
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
}
.expert-list .list {
    display: flex;
    margin-bottom: 36px;
    justify-content: space-around;
}
.rea .item {
    width: calc(100% / 2);
    max-height: 600px;
}

#logia-6 {
    max-width: 266px;
    max-height: 259px;
}
@media (max-width: 800px) {
    .nav-item a::after {
        right: 0;
    }
}
/*
.expert-list p {
    height: 108px;
    overflow: hidden;
    transition: all 0.6s ease-in;
    -webkit-transition: all 0.6s ease-in;
}
.expert-list p:hover {
    height: auto;
    transition: all 0.6s ease-in;

    -webkit-transition: all 0.6s ease-in;
}
*/
@media (max-width: 1900px) {
    .maximus .block,
    .maximus .block_slides {
        min-width: auto;
        min-height: auto;
        width: 100%;
    }
}
@media (max-width: 1800px) {
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 49px;
        line-height: 48px;
    }
    .expert-list,
    #foot {
        padding-left: 90px;
        padding-right: 90px;
    }
    .maximus .block {
        padding: 31px;
    }
}
@media (max-width: 1515px) {
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 44px;
        line-height: 44px;
    }
}
@media (max-width: 1440px) {
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 52px;
        line-height: 50px;
    }
    .maximus .block,
    .maximus .block_slides {
        min-width: auto;
        min-height: auto;
        width: 100%;
    }
    .expert-list,
    #foot {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 1435px) {
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 39px;
        line-height: 39px;
    }
}

@media (max-width: 1275px) {
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 37px;
        line-height: 37px;
    }
}

@media (max-width: 1250px) {
    .expert-list {
        padding-left: 45px;
        padding-right: 45px;
    }
    .maximus .block {
        padding: 35px;
    }
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 37px;
        line-height: 37px;
    }
}
@media (max-width: 1171px) {
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 37px;
        line-height: 37px;
    }
}

#row_bottom_mobile {
    display: none;
    margin-top: 30px;
}
@media (max-width: 1176px) {
    .navbar {
        padding-left: 85px;
        padding-right: 85px;
    }
}
@media (max-width: 1165px) {
    #row_bottom_desktop {
        display: none;
    }
    #row_bottom_mobile {
        display: flex;
    }
    .row_top .col-4 {
        width: 50%;
    }
}
@media (max-width: 1147px) {
    .maximus .block {
        padding: 23px;
    }
}
@media (max-width: 1102px) {
    .expert-list h3 {
        font-size: 17px;
        line-height: 17px;
    }
}
@media (max-width: 1035px) {
    .row_top {
        display: block;
    }
    .inche_right {
        padding-left: 48px;
    }

    .row_top .col-4 {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .expert-list h3 {
        font-size: 18px;
        line-height: 18px;
    }
    .maximus .block {
        padding: 20px;
    }

    .maximus .col-3 {
        width: 50%;
    }
}
@media (max-width: 821px) {
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 34px;
        line-height: 34px;
    }
    .row_top .col-4 {
        width: 100%;
    }
    .inche_right {
        padding-left: 214px;
    }
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 30px;
        line-height: 31px;
    }
    .expert-list .col-6,
    .expert-list .col {
        display: block;
        width: 100%;
    }
}
@media (max-with: 900px) {
    .inche_right .row_top {
        margin-top: 30px;
    }
}
@media (max-width: 800px) {
    .inche_right .row_top {
        display: block;
        margin-top: 30px !important;
    }
    .expert-list .maximus {
        margin-top: 19px;
    }
    .inche_right .col-4 {
        width: 100%;
    }
    .inche_right {
        padding-left: 18px;
    }
    .expert-list {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media (max-width: 1050px) {
    #col_ft {
        max-width: 30%;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}
@media (max-width: 700px) {
    .expert-list .col-2,
    .expert-list .col,
    .expert-list .row,
    .expert-list .col-3,
    #row_bottom_mobile {
        width: 100%;
        display: block;
        margin: 0;
    }
}
@media (max-width: 689px) {
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 26px;
        line-height: 26px;
    }
}
@media (max-width: 615px) {
    .row_top h2,
    .row_bottom h2,
    .expert-list h2 {
        font-size: 26px;
        line-height: 26px;
    }
}
@media (max-width: 550px) {
    #claudio {
        width: 100%;
    }
    .inche_right {
        padding-left: 0;
        margin-top: 20px !important;
    }
    .maximus .block {
        padding: 55px;
    }
    .footer {
        margin-top: 30px;
    }
    #col_ft {
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .experts .w80 {
        padding: 0;
        margin-top: 30px !important;
        padding-left: 40px;
        margin-bottom: 30px;
    }
}
@media (max-width: 387px) {
    .maximus .block {
        padding: 43px;
    }
}
.navbar-light .navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

@media (max-width: 991px) {
    .bg-transparent {
        background: #121315 !important;
        padding-top: 0;
    }
    .nav-item a {
        text-align: right;
    }
    #social_menu,
    #lang_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 24%;
    }
    .navbar-light .navbar-nav .nav-link {
        width: 18%;
        margin-left: auto;
        font-size: 22px;
        margin: 10px 0 10px auto;
    }
    .nav-item a:hover::after,
    .nav-item a.active::after {
        right: 0;
    }
    .nav-item a::after {
        bottom: -5px;
    }
    #social_menu .nav-link,
    #lang_menu .nav-link {
    }
    .navbar-collapse {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .navbar-nav {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .navbar-light .navbar-nav .nav-link {
        width: 27%;
    }
}
@media (max-width: 500px) {
    #social_menu,
    #lang_menu {
        width: 49%;
    }
    .navbar-light .navbar-nav .nav-link {
        width: 55%;
    }
}
@media (max-width: 343px) {
    .navbar-light .navbar-nav .nav-link {
        width: 47%;
    }
}
@media (max-width: 711p) {
    .w80 {
        padding: 45px 71px 42px 40px;
    }
}
.expert-list.rea {
    position: relative;
}
.range {
    position: absolute;
    right: -30px;
    display: flex;
    flex-direction: column;
}
.range button {
    width: 30px;
    filter: brightness(0) invert(1);
}
.range button img {
    width: 100%;
}
.range button:nth-child(2) {
    margin-top: 30px;
}
.expert-list .visible {
    display: inline;
}
.expert-list .hidden {
    display: none;
}
#plists {
    min-height: 500px;
}
@media (max-width: 1472px) {
    .groupe .row {
        padding-left: 172px;
        padding-right: 80px;
    }
    .close {
    }
}
@media (max-width: 1278px) {
    .groupe .row {
        padding-left: 131px;
    }
}

@media (max-width: 1736px) {
    .groupe .row {
        padding-left: 200px;
    }
}
@media (max-width: 1658px) {
    .groupe .row {
        padding-left: 200px;
    }
    #pimp-1 {
        right: 609.5px;
        width: 311px;
    }
    #pimp-2 {
        width: 356px;
        right: 254.5px;
    }
}
@media (max-width: 1503px) {
    #pimp-3 {
        width: 228px;
    }

    #pimp-2 {
        right: 222.5px;
    }
    #pimp-1 {
        right: 578.5px;
    }
}
@media (max-width: 1487px) {
    #pimp-1 {
        right: 552.5px;
    }
    #pimp-2 {
        width: 331px;
    }
}
@media (max-width: 1404px) {
    .groupe .row {
        padding-left: 155px;
    }
}
@media (max-width: 1358px) {
    #pimp-1 {
        right: 511.5px;
        width: 287px;
    }
    #pimp-2 {
        width: 300px;
        right: 211.5px;
        top: 247px;
    }
    #pimp-3 {
        width: 217px;
    }
}
@media (max-width: 1258px) {
    .groupe .row {
        padding-left: 90px;
    }
}
@media (max-width: 1229px) {
    #pimp-1 {
        right: 467.5px;
    }
    #pimp-2 {
        right: 189.5px;
        width: 278px;
        top: 235px;
    }
    #pimp-3 {
        width: 195px;
    }
}
@media (max-width: 1159px) {
    .groupe .row {
        padding-left: 50px;
        padding-right: 30px;
    }
}
@media (max-width: 1078px) {
    .groupe h2 {
        font-size: 33px;
        line-height: 26px;
    }
    #pimp-prez a.op0 {
        font-size: 13px;
    }
    #isart-prez h2 {
        margin-top: 69px;
    }
    .navbar {
        padding-left: 57px;
        padding-right: 57px;
    }
}
@media (max-width: 1055px) {
    .navbar {
        padding-left: 68px;
        padding-right: 68px;
    }
    #pimp-1 {
        right: 435.5px;
        width: 248px;
    }
    #pimp-2 {
        right: 189.5px;
        width: 246px;
    }
    .important .desc,
    .important .op0 {
        font-size: 13px;
    }
}
@media (max-width: 1801px) {
    #logia-1 {
        left: -65px;
    }
    #logia-2 {
        left: 269px;
    }
    #logia-3 {
        left: 216.5px;
    }
    #logia-4 {
        left: -66px;
    }
}
@media (max-width: 1601px) {
    #logia-1 {
        left: -106px;
    }
    #logia-2 {
        left: 225px;
    }
    #logia-3 {
        left: 173.5px;
    }
    #logia-4 {
        left: -97px;
    }
}

@media (max-width: 1451px) {
    #logia-1 {
        left: -106px;
        width: 400px;
    }
    #logia-2 {
        width: 340px;
        left: 190px;
    }
    #logia-3 {
        left: 139.5px;
        top: 476.5px;
    }
    #logia-4 {
        top: 224px;
    }
}
@media (max-width: 1258px) {
    #logia-1 {
        left: -47px;
        width: 380px;
    }
    #logia-2 {
        width: 305px;
        left: 212px;
    }
    #logia-3 {
        left: 139.5px;
    }
    #logia-4 {
        left: -47px;
    }
}
@media (max-width: 1159px) {
    #logia-1 {
        left: -19px;
        width: 380px;
    }
    #logia-2 {
        left: 262px;
        width: 270px;
    }
    #logia-3 {
        left: 184.5px;
        top: 413.5px;
    }
    #logia-4 {
        left: -18px;
        top: 224px;
    }
}
@media (max-width: 1607px) {
    #isart-2 {
        width: 320px;
    }
}
@media (max-width: 1545px) {
    #isart-1 {
        left: -76px;
    }
    #isart-2 {
        width: 302px;
    }
    #isart-3 {
        width: 450px;
    }
}
@media (max-width: 1517px) {
    #isart-1 {
        left: 0;
        width: 299px;
    }
    #isart-4 {
        right: 31.5px;
    }
}
@media (max-width: 1369px) {
    #isart-4 {
        right: -3.5px;
    }
}
@media (max-width: 1341px) {
    #isart-2 {
        width: 280px;
        left: 305.5px;
    }
}
@media (max-width: 1323px) {
    #isart-2 {
        width: 254px;
    }
    #isart-3 {
        width: 419px;
    }
}
.close {
    display: none;
}
@media (max-width: 1115px) {
    .close {
        display: block;
        position: absolute;
        width: 17px;
    }
    .close img {
        width: 100%;
    }
    #pimp .position-relative {
        margin-top: 43px;
    }
    #pimp img {
        height: auto;
    }
    #logial .col-5 {
        width: 65%;
    }
    #isart-3 {
        width: 496px;
    }
    #isart-2 {
        width: 311px;
    }
}
@media (max-width: 1051px) {
    #isart-1 {
        left: 72px;
        width: 268px;
    }
    #isart-2 {
        width: 253px;
        left: 342.5px;
    }
    #isart-3 {
        width: 456px;
    }
    #isart-4 {
        right: 39.5px;
        top: 241.5px;
    }
}
@media (max-width: 1000px) {
    #isart-2 {
        width: 279px;
        left: 402.5px;
    }
    #isart-1 {
        left: 64px;
        width: 299px;
    }
    #isart-3 {
        width: 453px;
    }
    .close {
        right: 55px;
        max-width: 17px;
    }
}
@media (max-width: 905px) {
    #isart-1 {
        left: 110px;
        width: 232px;
    }
    #isart-2 {
        width: 226px;
    }
    #isart-3 {
        width: 375px;
    }
    #logia .slides_min img,
    #isart .slides_min img {
        min-height: 400px;
    }
}
@media (max-width: 845px) {
    #isart-1 {
        left: 67px;
        width: 232px;
    }
    #isart-2 {
        width: 226px;
        left: 255.5px;
    }
    #isart-3 {
        width: 375px;
    }
    #isart-4 {
        top: 202.5px;
    }
}
.popup {
    max-width: 350px;
    padding: 30px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 350px;
    bottom: -102px;
    transition: all 0.5s ease;
    right: 157px;
    opacity: 0;
}
.popup.play {
    transition: all 0.5s ease;
    opacity: 1;
    bottom: 94px;
}
.agroupe {
    padding-left: 60px;
}
.slides_min img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.appear {
    opacity: 1;
    transition: all 0.5 ease-in;
}
.disapear {
    opacity: 0;
    transition: all 0.5 ease-in;
}
#claudio {
    width: 100%;
}
@media (max-width: 1224px) {
    .foot .plexel {
        margin-left: 140px;
    }
}
@media (max-width: 930px) {
    .foot .plexel {
        margin-left: 116px;
    }
}
@media (max-width: 822px) {
    .foot .plexel {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100% !important;
    }
}
@media (max-width: 726px) {
    .foot .plexel {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
@media (max-width: 800px) {
    .h1-about {
        position: static;
    }
    .w80 {
        margin-left: 0;
        margin-right: 0;
        padding-left: 14px;
        margin-top: 0 !important;
        justify-content: flex-start !important;
    }
    .foot .plexel {
        width: 88%;
    }
}
@media (max-width: 702px) {
    .foot .plexel {
        width: 100%;
    }
}
#play_btn {
    font-size: 13px;
}
#play_btn svg {
    width: 20px;
    height: 20px;
}
@media (max-width: 1402px) {
    .form-c {
        margin-left: 466px;
    }
}
@media (max-width: 1331px) {
    .form-c {
        margin-left: 430px;
    }
}
@media (max-width: 1281px) {
    .float-c {
        left: 53px;
        top: 531px;
    }
    .form-c {
        margin-left: 398px;
    }
    .w80.s {
        margin-right: -22px;
    }
}
@media (max-width: 1250px) {
    .form-c {
        margin-left: 398px;
    }
}
@media (max-width: 1215px) {
    .form-c {
        max-width: 448.16px;
    }
}
/*
@media (max-width: 1215px) {
    .form-c {
        margin-left: 335px;
        margin-top: 389px;
    }
}
*/
@media (max-width: 1110px) {
    .popup {
        right: 94px;
    }
    .contact .h1-about {
        margin-left: 30px;
    }
    .form-c {
        margin-left: 347px;
    }
}
@media (max-width: 1050px) {
    .w80.s {
        margin-top: -398px;
    }
    .contact {
        height: 1111px;
        max-height: -webkit-max-content;
        max-height: -moz-max-content;
        max-height: max-content;
    }
    .form-c {
        margin-left: 189px;
    }
    .contact .h1-about {
        margin-top: 156.5px;
    }
    .float-c {
        margin-top: 171.5px;
    }
}
@media (max-width: 909px) {
    .form-c {
        margin-left: 140px;
    }
    .contact {
        height: auto;
    }
}
@media (max-width: 856px) {
    .w80.s {
        margin-top: 0;
        margin: auto;
    }
    .form-c {
        max-width: 570.16px;
        margin-top: 86px;
    }
}
@media (max-width: 800px) {
    .float-c {
        margin-top: 49.5px;
    }
    .form-c {
        margin-left: auto;
    }
    .w80.s {
    }
}
@media (max-width: 475px) {
    .w80.s {
        margin-left: 31px;
    }
}
.expert-list h3 {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.expert-list p.full {
    height: auto;
    overflow: visible;
    transition: height 0.5s ease;
}
.see_more.hidden {
    display: none;
}
.expert-list.rea .container-fluid {
    position: relative;
}
@media (max-width: 1050px) {
    .rea .item {
        width: calc(100% / 2);
        max-height: 291px;
    }
    .d-flex {
        margin: 10px 0;
        padding-left: 0;
    }
}
@media (max-width: 800px) {
    .expert-list .list {
        padding-right: 32px;
    }
    .expert-list button {
        font-size: 10px;
        line-height: 11px;
    }
    .range {
        top: -3px;
        right: -11px;
    }
}
#filter_selecter {
    display: none;
}
#filter_selecter select {
    padding: 15px;
    margin-left: 15px;
    text-transform: uppercase;
}
.close {
    right: 101px;
}

@media (max-width: 1020px) {
    .footer .row {
        display: block;
    }
}
@media (max-width: 700px) {
    .range {
        display: none;
    }
    .rea .item {
        width: calc(100% / 2);
    }
    .expert-list .list button {
        display: none;
    }
    .rea .item.visible {
        display: block;
    }
    #filter_selecter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width: 700px) {
    .rea .item {
        width: calc(100% / 1) !important;
    }
}
@media (max-width: 600px) {
    #filter {
        width: 65%;
    }

    .groupe .row {
        padding-top: 130px;
    }
}
@media (max-width: 450px) {
    .foot .plexel {
        margin-top: -13px;
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 629px) {
    #logia .col-5,
    #logia .col-3 {
        width: 100%;
    }
    #logia {
        display: block;
        height: auto;
    }
    #logia .col-5 {
        height: 613px;
    }
    #logia .col-3 {
        margin-left: 0;
        justify-content: space-between;
        align-items: flex-start;
    }
    #logia .col-3 img {
        margin: 0;
        width: 47%;
    }
    #pimp-prez h2 {
        margin-bottom: 62.5px;
    }
    #panorama-prez h2,
    #logia-prez h2,
    #isart-prez h2 {
        margin-top: 67.5px;
        margin-bottom: 50.5px;
    }
    #isart-prez h2 {
        margin-bottom: 45px;
        margin-top: 127.5px;
    }
    #pimp-prez .desc,
    #panorama-prez .desc,
    #logia-prez .desc,
    #isart-prez .desc {
        display: none;
    }
    #pimp,
    #logia,
    #isart,
    #pano,
    #panorama {
        position: fixed;
    }
}
@media (max-width: 587px) {
    #logia-4 {
        top: 181px;
    }
    #logia-3 {
        top: 361.5px;
    }
    #logia-2 {
        width: 211px;
    }
}
@media (max-width: 505px) {
    #logia .col-5 {
        height: 500px;
    }
    #logia-1 {
        left: 0;
        width: 230px;
        top: 25px;
    }
    #logia-2 {
        left: 232px;
        width: 170px;
        top: 104px;
    }
    #logia-3 {
        left: 232.5px;
        top: 257.5px;
    }
    #logia-4 {
        left: 4px;
        top: 181px;
    }
    #logia .col-3 img {
        width: 49%;
    }
    .groupe .row {
        padding-left: 29px;
        padding-right: 8px;
    }
}
#foot {
    margin-top: 0px;
    padding-top: 49px;
    background-color: #121315;
}
.iframe {
    display: none;
}
.experts .h2-about {
    font-size: 24px;
}
#dd {
    padding-bottom: 30px;
}
.agroupe {
    display: flex;
    align-items: center;
}
.agroupe .expertise-btn {
    margin-top: 65px;
    max-width: 272px;
    margin: 0px auto 0 40px !important;
    width: 272px;
}
.hover .close {
    display: block;
}
.close {
    position: absolute;
    top: 212px;
    max-width: 17px;
    z-index: 99;
    right: 101px;
    cursor: pointer;
}
.close img {
    width: 100%;
}
@media (max-width: 1676px) {
    .groupe .row {
        padding-left: 141px;
    }
    .groupe h2 {
        font-size: 42px;
        line-height: 35px;
    }
    #isart-prez h2 {
        margin-top: 81px;
    }
}
@media (max-width: 1319px) {
    .groupe .row {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media (max-width: 1234px) {
    .groupe h2 {
        font-size: 37px;
        line-height: 30px;
    }
    #isart-prez h2 {
        margin-top: 72px;
    }
}
@media (max-width: 1066px) {
    #panorama-prez h2,
    #logia-prez h2,
    #isart-prez h2 {
        margin-bottom: 71.5px;
    }
    #pano-prez h2 {
        margin-bottom: 71.5px;
    }
    #isart-prez h2 {
        margin-bottom: 71.5px;
    }
}
@media (max-width: 998px) {
    .navbar {
        padding-left: 28px;
        padding-right: 28px;
    }
    #pimp-prez,
    #panorama-prez,
    #logia-prez,
    #isart-prez,
    #pano-prez {
        flex: 30%;
    }
    #logia-prez {
        flex: 0%;
    }
    #panorama-prez h2 {
        margin-top: 35px;
    }
    #pano-prez h2 {
        margin-top: 34px;
    }
}
@media (max-width: 768px) {
    .groupe .row.hover .col-3 {
        width: 100%;
    }
    .groupe .row.hover p {
        max-width: initial;
    }
    .close {
        right: 72px;
        top: 132px;
    }
}
@media (max-width: 600px) {
    #pimp-prez,
    #panorama-prez,
    #logia-prez,
    #isart-prez,
    #pano-prez {
        flex: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .f {
        margin-left: 20px;
    }
    .groupe {
        min-height: initial;
        height: auto;
        overflow: hidden;
        max-height: initial;
    }
    #pimp-prez h2,
    #logia-prez h2,
    #isart-prez h2,
    #panorama-prez h2,
    #pano-prez h2 {
        max-width: 50%;
        margin-top: 0 !important;
        margin-bottom: 60px !important;
    }
    .groupe p {
        margin-top: 0;
    }
}
.foot .plexel {
    max-width: 674px;
    max-height: 507px;
    margin-bottom: 50px;
}
.slides_min iframe {
    width: 100%;
    min-height: 600px;
}
.slides_min {
    min-height: 604px;
}
@media (max-width: 1472px) {
    .close {
        right: 46px;
    }
}
@media (max-width: 1295px) {
    .close {
        right: 28px;
    }
}
@media (max-width: 1192px) {
    .slides_min {
        min-height: auto;
    }
}
@media (max-width: 861px) {
    .groupe .row.hover {
        display: block;
    }
    .col-3 {
        width: 100%;
    }
    .groupe .hover p {
        max-width: none;
    }
    .close {
        right: 51px;
    }
}
.left {
    position: absolute;
    width: 10%;
    left: 0;
    height: 100%;
}
.right {
    position: absolute;
    width: 10%;
    right: 0;
    height: 100%;
}
.bottom {
    position: absolute;
    width: 100%;
    height: 100%;
}
@-webkit-keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}
@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}
.close img {
    -webkit-animation-name: heartbeat;
            animation-name: heartbeat;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}
.groupe .expertise-btn {
    margin-left: 0;
    margin-top: 0;
}
.groupe .expertise-btn svg {
    margin-top: 4px;
}
video {
    background-color: #1c1c1c;
}
.gr #foot {
    position: fixed;
    width: 101%;
    bottom: 0;
    padding-bottom: 40px;
    left: 0;
    right: 0;
}

@media (max-height: 826px) {
    .gr #foot {
        position: static;
    }
}
@media (max-width: 998px) {
    .gr #foot {
        position: static;
    }
    .popup.play {
        max-width: 205px;
        padding: 24px 0;
    }
    #play_btn {
        margin: 0 !important;
    }
}
.foot .empty-divider {
    height: 117px;
}
#salon {
    background: #000;
}
#salon img {
    -o-object-fit: contain;
       object-fit: contain;
}

#visite {
    background: #000;
}
#visite img {
    -o-object-fit: contain;
       object-fit: contain;
}
#jeu {
    background-color: #000;
    overflow: hidden;
}
#jeu img {
    transform: scale(1.4);
}
@media (max-width: 1024px) {
    #jeu img {
        transform: scale(2.6);
    }
}
@media (max-width: 700px) {
    #jeu img {
        transform: scale(2.9);
        position: relative;
        top: -98px;
        min-height: 300px;
    }
    #v2 img,
    #decor img,
    #salon img,
    #visite img {
        min-height: 300px;
    }
}
.expert-list .visible[data-tag="all"] {
    width: calc(100% / 1);
}

