@font-face {
    font-family: 'House of Montague';
    src: url('HouseOfMontague.woff2') format('woff2'),
        url('HouseOfMontague.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

